.patient-video {
    position: absolute;
    left: 18vw;
    top: 7vh;
}

.annotation-tools {
    margin-top: 20px;
}

#canvas {
    width: 55vw;
    height: 50vh;
    margin-top: 5px;
}

#duration-canvas {
    width: 10 vw;
    height: 8 vh;
    margin-top: 2px;
}

video {
    display: none;
}

.notes {
    position: absolute;
    left: 77vw;
    top: 11vh;
    width: 20vw;
}

ul {
    list-style-type: none;
    height: 40vh;
    overflow-y: scroll;
}

#note-button {
    margin-top: 4px;
    cursor: pointer;
}

.note-item:hover {
    color: blue;
}

.video-button {
    margin-top: 4px;
}