.patient-video {
    position: absolute;
    left: 18vw;
    top: 7vh;
}

.annotation-tools {
    margin-top: 20px;
}

#canvas {
    width: 55vw;
    height: 50vh;
    margin-top: 5px;
}

#duration-canvas {
    width: 10 vw;
    height: 8 vh;
    margin-top: 2px;
}

video {
    display: none;
}

.notes {
    position: absolute;
    left: 77vw;
    top: 11vh;
    width: 20vw;
}

ul {
    list-style-type: none;
    height: 40vh;
    overflow-y: scroll;
}

#note-button {
    margin-top: 4px;
    cursor: pointer;
}

#annotate-button {
    margin-top: 4px;
}

.note-item:hover {
    color: blue;
    cursor: pointer;
}

.video-button {
    margin-top: 4px;
}

#color-picker {
    margin-left: 40px;
    margin-right: 40px;
}

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio]+img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked+img {
    outline: 2px solid rgb(34, 0, 255);
}

.icon {
    width: 50px;
    height: 50px;
}